*{
  background: #1a1a1a;
}
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  margin: 0;
  color:white;
}

.main-container {
  display: flex;
  height: 100vh;
  position: relative;
}
.title{
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  padding: 20px 0;
  border-bottom: 2px solid #e0e0e0;
}
.left-panel {
  width: 35%;
  padding: 20px;
  border-right: 2px solid #e0e0e0;
  overflow-y: auto;
}
.right-panel {
  width: 65%;
  padding: 20px;
  overflow-y: auto;
}
.room-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}
