*{
  background: white;
}
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.App-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  margin: 0;
  color:black;
}

.main-container {
  display: flex;
  height: 100vh;
  position: relative;
}
.title{
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  padding: 20px 0;
  border-bottom: 2px solid #e0e0e0;
}
.left-panel {
  width: 35%;
  padding: 20px;
  border-right: 2px solid #e0e0e0;
  overflow-y: auto;
}
.right-panel {
  width: 65%;
  padding: 20px;
  overflow-y: auto;
}
.room-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}
.room-block {
  background-color: #e8f0fe;
  padding: 30px 10px;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 600;
  border: 2px solid transparent;
}

.room-block:hover {
  transform: scale(1.05);
  background-color: #d2e3fc;
}


.room-block.alert {
  background-color: #ffe5e5;
  border: 2px solid red;
  animation: pulse 1.2s infinite;
}
.live-values {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 25px;
  font-weight: 500;
}

.live-values p {
  margin: 5px 15px 5px 0;
}
